---
import Section from './Section.astro';

interface LINKS {
  id: string;
  url: string;
}

interface Props {
  pdf: string;
  links: LINKS[];
}

const { pdf, links } = Astro.props;
---

<Section id="Links">
  <div class="grid download-section">
    <div class="download-thumb">
      <a href={pdf}>
        <img
          class="dropshadow"
          width="396"
          height="512"
          src="./download-thumb.jpg"
        />
      </a>
    </div>
    <div class="download-links">
      <ul>
        {
          links.map((link) => (
            <li>
              <a href={link.url}>{link.id}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Section>
