---
const { title } = Astro.props;
---

<div class="n-title">
  <h1>{title}</h1>
</div>

<div class="n-byline">
  <div class="byline">
    <ul class="authors">
      <li>
        Long Nhat Nguyen<sup>1</sup>
      </li>
    </ul>
    <ul class="authors affiliations">
      <li>
        <sup>1</sup>AREA44
      </li>
    </ul>
  </div>
</div>
