---
interface Props {
  src: string;
  name: string;
  description: string;
}

const { src, name, description } = Astro.props;
---

<div class="l-page video">
  <video controls loop width="100%">
    <source src={src} type="video/mp4" />
  </video>
  <div class="videocaption">
    <div>
      <strong>
        {name}:
      </strong>
      {description}
    </div>
  </div>
</div>
