---
interface Props {
  src: string;
  name: string;
  description: string;
}

const { src, name, description } = Astro.props;
---

<div class="my-6">
  <video controls loop width="100%">
    <source src={src} type="video/mp4" />
  </video>
  <div class="flex text-base leading-8 justify-center mb-4">
    <div>
      <strong>
        {name}:
      </strong>
      {description}
    </div>
  </div>
</div>
