---
import Head from "@/components/Head.astro";

interface Props {
  frontmatter: {
    title?: string;
    description?: string;
    ogImage?: string;
  };
}

const { title, description, ogImage } = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} ogImage={ogImage} />
  </head>
  <body>
    <div class="n-article">
      <slot />
    </div>
  </body>
</html>
