---
import Head from "@/components/Head.astro";

interface Props {
  frontmatter: {
    title?: string;
    description?: string;
    ogImage?: string;
  };
}

const { title, description, ogImage } = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="flex justify-center items-start min-h-screen">
    <div class="w-[210mm] h-[297mm] overflow-hiden m-2">
      <slot />
    </div>
  </body>
</html>
