---
import BaseHead from "@/components/BaseHead.astro";

interface Props {
  title?: string;
  description?: string;
  ogImage?: URL;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} ogImage={ogImage} />
  </head>
  <body>
    <div class="n-article">
      <slot />
    </div>
  </body>
</html>
