---
import MainHead from "../components/MainHead.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} ogImage={ogImage} />
  </head>
  <body>
    <slot />
  </body>
</html>
